.boxrow {
    display: flex;
}

.box {
    display: block;
    background-color: var(--palette_navigation_bar);
    padding: 4px;
    margin: 4px;
    flex-grow: 1;
}

.chart {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.heroimage {
    min-width: 400px;
}

.heroimage img {
    display: block;
    padding: 2px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}


.heroname {
    text-align: center;
}

.attributeicon {
    width: 28px;
    height: 28px;
}

.rankicon {
    width: 48px;
    height: 48px;
}

td {
    padding: 2px 8px;
}


h2 {
    font-size: xx-large;
}

p {
    text-align: center;
}
