<div *ngIf="hero" class="cardpage">
  <mat-card class="hero-main-card">
    <mat-card-content>
      <img mat-card-image src="./assets/images/horizontal/{{hero.internalName}}.png" alt="Image of {{hero.name}}">
      <h3>{{hero.name}}</h3>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Win Rate
          </mat-panel-title>
          <mat-panel-description>
            {{(hero.rankedWinRates[6] * 100).toFixed(1) + "%"}}
          </mat-panel-description>
          </mat-expansion-panel-header>
        <div class="chart" id="rankedwinratechart"></div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Farm Priority
          </mat-panel-title>
          <mat-panel-description>
            {{hero.bestFarmPriority}}
          </mat-panel-description>
          </mat-expansion-panel-header>
        <div class="chart" id="farmprioritychart"></div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            XP Priority
          </mat-panel-title>
          <mat-panel-description>
            {{hero.bestXPPriority}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="chart" id="xpprioritychart"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <mat-card class="hero-list-card">
    <mat-card-header>
      <mat-card-title>Best With</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="herotable" id="goodWith">
        <div *ngFor="let hero of bestSynergies" class="herobutton">
          <a routerLink="/hero/{{hero.internalName}}">
            <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="hero-list-card">
    <mat-card-header>
      <mat-card-title>Best Against</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="herotable" id="goodAgainst">
        <div *ngFor="let hero of bestMatchups" class="herobutton">
          <a routerLink="/hero/{{hero.internalName}}">
            <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="hero-list-card">
    <mat-card-header>
      <mat-card-title>Worst With</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="herotable" id="badWith">
        <div *ngFor="let hero of worstSynergies" class="herobutton">
          <a routerLink="/hero/{{hero.internalName}}">
            <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="hero-list-card">
    <mat-card-header>
      <mat-card-title>Worst Against</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="herotable" id="badAgainst">
        <div *ngFor="let hero of worstMatchups" class="herobutton">
          <a routerLink="/hero/{{hero.internalName}}">
            <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
