<div *ngIf="hero">
  <div class="boxrow">
    <div class="box" id="herooverviewbox">
      <div class="heroimage">
        <img src="./assets/images/horizontal/{{hero.internalName}}.png"/>
      </div>
      <div class="heroname">
        <h2>{{hero.name}}
          <img src="./assets/icons/{{hero.attribute}}.png" class="attributeicon"/>
        </h2>
      </div>
    </div>

    <!-- <div class="box">
      <p>Win Rate by MMR</p>
      <div class="chart" id="rankedwinratechart"></div>
    </div> -->
    <div class="box">
      <p><span style="color:#888888">Adjusted Win Rate by</span><br><b>Farm Priority</b></p>
      <div class="chart" id="farmprioritychart"></div>
    </div>
    <div class="box">
      <p><span style="color:#888888">Adjusted Win Rate by</span><br><b>XP Priority</b></p>
      <div class="chart" id="xpprioritychart"></div>
    </div>    
  </div>
  <div class="boxrow">
    <div class="box">
      <p>Best With</p>
      <div class="herotable" id="synergies">
        <div *ngFor="let hero of bestSynergies" class="herobutton">
          <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
        </div>
      </div>
    </div>
    <div class="box">
      <p>Best Against</p>
      <div class="herotable" id="matchups">
        <div *ngFor="let hero of bestMatchups" class="herobutton">
          <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
