<mat-card class="hero-list-card">
  <mat-card-content>
    <table>
      <tr>
        <td>
          <h4>STRENGTH</h4>
        </td>
        <td>
          <div>
            <div *ngFor="let hero of strengthHeroes1" class="herobutton" (click)="onClickAction(hero)">
              <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
            </div>
          </div>
          <div>
            <div *ngFor="let hero of strengthHeroes2" class="herobutton" (click)="onClickAction(hero)">
              <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <h4>AGILITY</h4>
        </td>
        <td>
          <div>
            <div *ngFor="let hero of agilityHeroes1" class="herobutton" (click)="onClickAction(hero)">
              <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
            </div>
          </div>
          <div>
            <div *ngFor="let hero of agilityHeroes2" class="herobutton" (click)="onClickAction(hero)">
              <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <h4>INTELLIGENCE</h4>
        </td>
        <td>
          <div>
            <div *ngFor="let hero of intelligenceHeroes1" class="herobutton" (click)="onClickAction(hero)">
              <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
            </div>
          </div>
          <div>
            <div *ngFor="let hero of intelligenceHeroes2" class="herobutton" (click)="onClickAction(hero)">
              <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>