<div class="cardpage">
    <mat-card class="draft-area">
        <div *ngFor="let panel of allyDraftPanels" class="draft-panel">
            <img src="./assets/images/vertical/{{panel.hero.internalName}}.png" class="draft-panel-image" (click)="select(panel)" id="draft-panel-{{panel.id}}"/>
        </div>
    </mat-card>

    <mat-card class="draft-area">
        <div *ngFor="let panel of enemyDraftPanels" class="draft-panel">
            <img src="./assets/images/vertical/{{panel.hero.internalName}}.png" class="draft-panel-image" (click)="select(panel)" id="draft-panel-{{panel.id}}"/>
        </div>      
    </mat-card>

    <app-hero-grid></app-hero-grid>  
</div>
