/* You can add global styles to this file, and also import other style files */

body {
  background-color: #171F27;
  color: white;
}

.navigationbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.navigationbaritem {
   float: left;
   font-weight: lighter;
   font-size: larger;
   width: 160px;
  font-size: large;
 }

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

