/* You can add global styles to this file, and also import other style files */

:root {
  --palette_background: #27272F;
  --palette_navigation_bar: #111111;
  --palette_foreground: #FFFFFF;
  --palette_highlight_dark: #4461CB;
  --palette_highlight_light: #7491FF;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--palette_background);
  color: var(--palette_foreground);
  margin: 0;
}

.container {
  margin: 0 auto;
  min-width: 480px;
  max-width: 1280px;
}

.navigationbar {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--palette_navigation_bar);
}

.navigationbaritem {
  float: left;
  font-weight: bolder;
  font-size: large;
  text-decoration: none;
  padding: 12px 48px;
  transition: color .1s ease-in-out;
 }

.navigationbaritem:hover, .dropdown:hover .dropbtn {
  color: var(--palette_highlight_light);
}

.navigationbarseparator {
  width: 100%;
  height: 4px;
  margin-bottom: 10px;
  background-color: var(--palette_highlight_dark);
}
