<div class="cardpage">
  <mat-card class="hero-list-card">
    <mat-card-header>
      <mat-card-title>Strength Heroes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let hero of strengthHeroes" class="herobutton">
        <a routerLink="/hero/{{hero.internalName}}">
          <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="hero-list-card">
      <mat-card-header>
        <mat-card-title>Agility Heroes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let hero of agilityHeroes" class="herobutton">
          <a routerLink="/hero/{{hero.internalName}}">
            <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
          </a>
        </div>
      </mat-card-content>
    </mat-card>

  <mat-card class="hero-list-card">
      <mat-card-header>
        <mat-card-title>Intelligence Heroes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let hero of intelligenceHeroes" class="herobutton">
          <a routerLink="/hero/{{hero.internalName}}">
            <img src="./assets/images/vertical/{{hero.internalName}}.png"/>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
</div>