div.updatenewsmain{
}

div.update_news_inner{
  background-color: var(--palette_foreground);
  color: black;
}


li.newslisteitem {
  list-style: none;
  font-weight: bold;
  color: var(--palette_highlight_dark);
}
